/* Empty. Add your own CSS if you like */
.prayer {
	font-size: 18px;
	font-style: bold;
	background-color:  #F5F5DC;

}
.button {
	width: 150px;
	height: 30px;

	color: #000000;
	text-align: center;
}
.not-speaking {
  background-color : #00FFFF;
}
.speaking {
   background-color: #C0C0C0;
}
